<div>
    <style>

    </style>
    <div ng-controller="addQuestionaireController">
        <div class="wrapper-md">
            <form name="form" class="form-validation form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="h4" translate="add"></span>
                    </div>
                    <div class="panel-body">
                        <!-- <p class="text-muted">Please fill the information to continue</p> -->
                        <div class="form-group">
                            <label class="col-md-2 control-label">问卷调查主题: </em></label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="questionaireForm.title">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-md-2 control-label">状态: </label>
                            <div class="col-md-10">
                                <select name="account" class="form-control m-b" required 
                                ng-model="questionaireForm.statusId" 
                                ng-options="tmp.value as tmp.text for tmp in statusArray">
                                    <option translate="plzselect"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 0;">
                            <label class="col-md-2 control-label">有效期:</label>
                            <div class="col-md-10">
                                <div style="float: left;">
                                    <div class="input-group w-md">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="questionaireForm.activeDateStart" is-open="openedStart" datepicker-options="dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open('Start', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div style="float: left; padding: 6px 10px; "> -- </div>
                                <div style="float: left;">
                                    <div class="input-group w-md">
                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="questionaireForm.activeDateEnd" is-open="openedEnd" datepicker-options="dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open('End', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                        
        <!--                 
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" ng-model="agree" required><i></i> I agree to the <a href
                                    class="text-info">Terms of Service</a>
                            </label>
                        </div> -->
                    </div>
                    <div class="line line-dashed b-b line-xs pull-in m-b"></div>
                    <div>
                        <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="addQuestionItem()"><i class="fa fa-plus"></i><span translate="add"></span></button>
                    </div>
                    <div class="clearfix">
                        <div class="panel">
                            <div class="panel-heading">问卷主体部分</div>
                            <!-- <div class="row wrapper"></div> -->
                            <question-item-table data="questionaireForm.questionsList"></question-item-table>
                        </div>
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="button" class="btn" ng-click="cancel()">返回</button>
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="submit()">提交</button>
                    </footer>
                </div>
            </form>
        </div>
    </div>
</div>