<div class="question-item-table">
    <style>
        .question-item-table table thead th {
            border-bottom: 2px solid #ddd;
            padding-bottom: 20px;
        }
        .question-item-table table tbody td {
            padding-bottom: 20px;
        }
        .question-item-table .question-item-type {
            width: auto;
        }

.question-item-table tags-input .host {
  margin-top: 0;
  margin-bottom: 0;
}
.question-item-table tags-input .tags {
  padding-top: 0;
  padding-bottom: 0;
}

.question-item-table span.footable-toggle {
  cursor: pointer;
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
  color: #888888;
}
.question-item-table span.footable-toggle.toggle-disabled {
  pointer-events: none;
}

.question-item-table .table > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e001";
}
.question-item-table .table > tbody > tr > td span.footable-toggle:before {
  content: "\e000";
}

.question-item-table .table.toggle-circle > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e005";
}
.question-item-table .table.toggle-circle > tbody > tr > td span.footable-toggle:before {
  content: "\e004";
}

.question-item-table .table.toggle-circle-filled > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e003";
}
.question-item-table .table.toggle-circle-filled > tbody > tr > td span.footable-toggle:before {
  content: "\e002";
}

.question-item-table .table.toggle-square > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e007";
}
.question-item-table .table.toggle-square > tbody > tr > td span.footable-toggle:before {
  content: "\e006";
}

.question-item-table .table.toggle-square-filled > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e009";
}
.question-item-table .table.toggle-square-filled > tbody > tr > td span.footable-toggle:before {
  content: "\e008";
}

.question-item-table .table.toggle-arrow > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e00f";
}
.question-item-table .table.toggle-arrow > tbody > tr > td span.footable-toggle:before {
  content: "\e011";
}

.question-item-table .table.toggle-arrow-small > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e013";
}
.question-item-table .table.toggle-arrow-small > tbody > tr > td span.footable-toggle:before {
  content: "\e015";
}

.question-item-table .table.toggle-arrow-circle > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e01b";
}
.question-item-table .table.toggle-arrow-circle > tbody > tr > td span.footable-toggle:before {
  content: "\e01d";
}

.question-item-table .table.toggle-arrow-circle-filled > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e00b";
}
.question-item-table .table.toggle-arrow-circle-filled > tbody > tr > td span.footable-toggle:before {
  content: "\e00d";
}

.question-item-table .table.toggle-arrow-tiny > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e01f";
}
.question-item-table .table.toggle-arrow-tiny > tbody > tr > td span.footable-toggle:before {
  content: "\e021";
}

.question-item-table .table.toggle-arrow-alt > tbody > tr.question-item-answers-active > td span.footable-toggle:before {
  content: "\e017";
}
.question-item-table .table.toggle-arrow-alt > tbody > tr > td span.footable-toggle:before {
  content: "\e019";
}

.question-item-table .table.toggle-medium > tbody > tr > td span.footable-toggle {
  font-size: 18px;
}
.question-item-table .table.toggle-large > tbody > tr > td span.footable-toggle {
  font-size: 24px;
}
    </style>
    <div>
        <div class="table-responsive" style="padding-bottom: 0px;">
            <table class="table table-striped m-b-none tablet">
                <thead>
                    <tr>
                        <th>
                            <div class="col-md-1 col-sm-1 col-lg-1">序号</div>
                            <div class="col-md-3 col-sm-3 col-lg-3">操作</div>
                            <div class="col-md-7 col-sm-7 col-lg-7">题目内容</div>
                            <div class="col-md-1 col-sm-1 col-lg-1">状态</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="data.length == 0" style="background-color: transparent;"><td style="background-color: transparent;text-align: center; " colspan="4" style="text-align: center;">暂无任何题目添加</td></tr>

                    <tr ng-repeat="item in data" class="item-group" ng-class="{'question-item-answers-active': !!item.$$answersOnShow}">
                        <td>
                            <!-- 题目内容区域 -->
                            <div class="clearfix">
                                <div class="col-md-1 col-sm-1 col-lg-1">
                                    <span class="footable-toggle" ng-class="{'toggle-disabled': !item.enabled}" ng-click="toggleQuestionItemAnswers(item, $event)"></span><label ng-bind="($index + 1)"></label>
                                </div>
                                <div class="col-md-2 col-sm-2 col-lg-2">
                                    <div class="clearfix">
                                        <div class="m-b-sm" style="float:left;">
                                            <div class="btn-group dropdown" dropdown>
                                                <label class="btn btn-sm btn-success">操作</label>
                                                <button class="btn btn-sm btn-success" style="margin-left: 0px;" dropdown-toggle><span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)">移除该题目</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="toggleDisableQuestionItem(item)" ng-bind="item.enabled?'停用该题目':'启用该题目'"></a></li>
                                                    <li><a href="javascript:void(0)">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="javascript:void(0)">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 col-lg-7">
                                    <p><label ng-bind="item.questionContent"></label></p>
                                </div>
                                <div>
                                    <span class="label bg-light" title="禁用" ng-if="!item.enabled">Disabled</span>
                                    <span class="label bg-success" title="可用" ng-if="item.enabled">Active</span>
                                </div>
                            </div>

                            <!-- 题目候选答案部分 -->
                            <div class="question-item-answers clearfix" ng-show="!!item.$$answersOnShow">
                                <div class="col-md-2 col-sm-2 col-lg-2" style="padding: 0;">
                                    <select name="account" ng-model="item.$$itemInputType" class="question-item-type input-sm" style="padding: 5px 0px 5px 7px;">
                                        <option value="">请选择</option>
                                        <option value="2" title="多选">多选</option>
                                        <option value="1" title="单选">单选</option>
                                        <option value="3" title="文本输入">文本输入</option>
                                        <option value="4" title="长文本输入">长文本输入</option>
                                    </select>    
                                </div>
                                <!-- 多选 / 单选 -->
                                <div class="col-md-10 col-sm-10 col-lg-10" ng-if="['2','1'].indexOf(item.$$itemInputType) >= 0">
                                    <tags-input ng-model="item.$$tags">
                                      <!-- <auto-complete source="loadTags($query)"></auto-complete> -->
                                    </tags-input>
                                </div>
                                <!-- 文本输入 -->
                                <div class="col-md-10 col-sm-10 col-lg-10" ng-if="item.$$itemInputType == '3'">
                                  <input type="text" disabled />
                                </div>
                                <!-- 长文本输入 -->
                                <div class="col-md-10 col-sm-10 col-lg-10" ng-if="item.$$itemInputType == '4'">
                                  <textarea cols="4" rows="3" disabled></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
